@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
   
    font:15px/1.5 Arial, Helvetica, sans-serif;
   padding:0;
    margin :0;
    background-color: #262626;
}
.nav-bar{
    float:right;
}
.sucess{
    color:green;
    text-align: center;
    width:80%;
    display: block;
    overflow: hidden;
    margin:auto;
    border:1px solid green;
    border-radius: 10px;
    background-color: lightgreen;
    padding:10px;
}
.button_1{
   
    height:38px;
    margin-top:20px;
    background: transparent;
    border:3px #01E4AD solid;
    border-radius: 13px;
    padding:5px;
    width:100%;
    color:#01E4AD;
    cursor: pointer;

}
.button_1:hover{
    transition: all 0.90s;
    background-color: #01E4AD;
    color:white;
    margin-top: 18px;
}


.container{
    width:100%;
    display:block;  
    margin:auto;
    overflow: hidden;

}
.container form{
    float:left;
}

ul{
    margin: 0;
    padding:0;
}
/*Header*/
header{
    background:#262626;
    color:#ffffff;
    padding:25px;
    min-height: 70px;
    padding:10px;
    min-height: 50px;
    border-bottom:#01E4AD 4px solid;


}
header img{
    height:60px;
    float:right;
    margin-left: 60px;
    width: 60px;
    margin-top: -10px;
}
header nav ul{
    text-align: center;
    display: block;
    margin:auto;
}
header nav ul li img:hover{
    border-radius: 50px;
    display: block;
    cursor: pointer;
   background-color: #01E4AD;
    transition: all 0.90s;
}
header nav ul li img{
    display: block;
    margin: 0px;
    padding:0px;
}

header nav ul li img{
    display: block;
    margin: 0px;
    padding:0px;
}
header a{
    color:#ffffff;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    
    float:left;
    display: inline ;
    
}

header #branding{
    float: left;

}

header #branding img{
    
    margin-top: 35px;
    height: 50px;
    width:300px;
}
header nav{
    float:right;
   padding:30px; 
   margin-top: 10px;
   display: inline;
    
}

header .highlight, header .active a{
    color:#01E4AD;
    font-weight: bold;
}
header a:hover{
    color:#cccccc;
      background:#01E4AD;
      border-radius: 15px;

    transition: all 0.90s;
   
}

/*Showcase */
#showcase{
    min-height:400px;
   background-image: url(../img/banner.png) ;
    
    text-align: center;
    color:white;


}
#showcase h1{
    margin-top:100px;
    font-size:50px;
    margin-bottom:10px;

}
#showcase p{
   
    font-size:20px;
    margin-bottom:10px;

}
#loginBanner{
    padding:15px;
    color:#ffffff;
    background:#35424a;
}

#loginBanner h1{
  
  float:left; 
  margin-right: 40px;
}
#loginBanner form{
    float:right;

}
#loginBanner input[type="email"]{
    padding:4px;
    border-radius: 15px;
   outline: none;
    margin-top:15px;
    
    height:38px;
    width:350px;
border: 2px white solid;
}
#loginBanner input[type="email"]:focus{
  border: 2px #01E4AD solid;
}
/*Boxes*/
#banner{
    margin-top:20px;
}
#banner .box{
    float:left;
    text-align: center;
    color:white;
    width:30%;
    padding:10px;

}
.homeBox{
    
    width: 90px;
}
.box{
overflow: hidden;
height: auto;
}

footer{
    padding:20px;
    margin-top: 20px;
    color:white;
    background-color: #01E4AD;
    text-align: center;
}

.userActive{
    border-radius: 50px;
    cursor: pointer;
   background-color: #01E4AD;
    
}

.DivUser ul{
width:100%;
height:100px;
line-height: 40px;
color:white;
display: flex;
justify-content: center;

}

.DivUser ul li{
    display: inline-block;
   
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    list-style-type: none;
}

 #lala{
    color:#01E4AD;
  
    font-size: 22px;
}
.dark{
    background-color: #262626;
}

.DivUser ul li a {
     text-decoration: none;
  outline: 0;
  color: white;
  border-bottom: solid 1px transparent;
  -webkit-transition: color .2s ease-out, border-bottom-color .2s ease-out;
     -moz-transition: color .2s ease-out, border-bottom-color .2s ease-out;
      -ms-transition: color .2s ease-out, border-bottom-color .2s ease-out;
       -o-transition: color .2s ease-out, border-bottom-color .2s ease-out;
          transition: color .2s ease-out, border-bottom-color .2s ease-out;
    
}
.DivUser ul li a:hover{
    color: #01E4AD;
    border-bottom: solid 1px #014a28;
  }
.DivUser ul li a .active {
    color:#01E4AD;
}
.card{
    
    box-shadow: 0 4px 4px 0 #01E4AD;
    transition:0.3s;
    padding:20px;
    background-color: white;
    border-radius: 10px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 #014a28;
}
.section2{
width:35%;
height: 40%;
margin: 0 auto;
}


.container2 input[type="email"]{
  border: 2px darkgray solid;
  padding:20px ;
  width: 80%;

  border-radius: 10px;
  outline: none;
  text-align: center;
  display: block;
  margin:auto;
  margin-bottom: 10px;
  font-size: 20px;

}
.container2 input[type="password"]{
  border: 2px darkgray solid;
  padding:20px ;
  width: 80%;
  font-size: 20px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  outline: none;
  
  border-radius: 10px;
}
.container2{
    display: block;
    margin: auto;
}

.container2 form{
    
    padding:10px;
}
.container2 input[type="email"]:focus{
 
 border: 2px #01E4AD solid;
 transition: all 0.5s}

.container2 input[type="password"]:focus{
transition: all 0.5s;
 border: 2px #01E4AD solid;
}
.button_2{
     border: 4px #01E4AD solid;
     padding:20px;
     margin:auto;
     display: block;
     margin-top:10px;
     width:50%;
     background-color: #01E4AD;
     color:white;
     outline: none;
     
     font-size: 20px;
     border-radius: 10px;

}
#forgot{
    color:black;
    text-align: center;
    display: block;
    margin:auto;
    margin-left:10px;
    font-size:20px;
   
}
.dark{
    
    width:100%;
    min-height:100%;
    left:0;
 
    background-color: #262626;
    height: 100%;
   padding-bottom: 20px;
}

.userlogo{
  display: block;
  margin: auto;
    height:70%;
    width:70%;

}


.inputTypeSignup{
    border:2px gray solid;
    width: 80%;

    display: block;
    text-align: center;
    border-radius: 10px;
    outline: none;
    padding:25px;
    font-size: 20px;
    margin:auto;
    margin-bottom: 20px;
}
.inputTypeSignup1{
    border:2px gray solid;
    width: 45%;
    text-align:center;
    border-radius: 10px;
    outline: none;
    padding:10px;
    font-size: 20px;
    margin:auto;
    margin-bottom: 20px;
}
.searchbar{
    border:2px gray solid;
    width: 250px;
    text-align:center;
    border-radius: 10px;
    outline: none;
    padding:5px;
    font-size: 20px;
    margin:auto;
    margin-bottom: 20px;
}
.searchb{
    padding:5px;
    padding-left: 5px;
}
.inputTypeSignup:focus{
    border: 2px #01E4AD solid;
   
}
.textStyle1{
    color:#01E4AD;
    padding:4px;
    font-size: 2vw;
    text-align: center;
    margin-top: 5px;
}
.textStyle2{

    color:gray;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1vw;
    padding:2px;
    font-style: italic;
   
}
.babylogo{
  height:auto;
  max-width: 100%;
    padding:10px;
    display: block;
    margin:auto;

}
.btnSameLine{
    display: inline;
    width: 100%;
}
.button_3{
     border: 4px #01E4AD solid;
     padding:20px;
     margin:auto;
    
    
     width:100%;
     background-color: #01E4AD;
     color:white;
     outline: none;
     
     font-size: 20px;
     border-radius: 10px;

}
.button_4{
     border: 4px #01E4AD solid;
     padding:20px;
     margin:auto;
    
    
     width:49%;
     background-color: #01E4AD;
     color:white;
     outline: none;
     
     font-size: 20px;;
     border-radius: 10px;

}
.button_5{
     border: 4px #FF7078 solid;
     padding:20px;
     margin:auto;
    
    
     width:45%;
     background-color: #FF7078;
     color:white;
     outline: none;
     
     font-size: 20px;
     border-radius: 10px;

}


/*Media Queries */

/*Tablets*/
@media(max-width:768px){
   header #branding img{
       
       
       width:100%;
       
       margin:auto;
       display: block;
      
   }
   .container #branding{
   margin:10px;
   }

   .container h1 {
    text-shadow: 12px;
    float: left;
}
.container form{
    float:left;
}
.container {
       width:85%;
       display: block;
       margin:auto;
    
      
   }

   .nav-bar ul li a{
    padding:17px;
    width:100%;
}
nav{
    width:100%;
    display: block;
    margin:auto;
}

   header nav {
       width:100%;
   }
   header nav ul li{
       width:100%;
       margin:auto;
       padding:7px;
       display: block;

   }
   header a{
       width:100%;
       text-align: center;
       display: block;
       margin: auto;
   }
   header nav ul li img{
    display: block;
margin:auto;}



#loginBanner{
    
    color:#ffffff;
    background:#35424a;
}

#loginBanner h1{
  
  float:center; 
  display: block;
  margin: auto;
  margin-bottom: 15px;
  width: 90%;
  text-align: center;
  font-size: 15px;
}
#loginBanner form{
    float:right;

}
#loginBanner input[type="email"]{
    padding:2px;
    border-radius: 15px;
   outline: none;
    margin:auto;
    display: block;
    margin-top:10px;
    margin-bottom: 10px;
    height:38px;
    width:90%;
border: 2px white solid;
}

.button_1{
    
   width:100%;
}

#banner .box{
    float:none;
    text-align: center;
    width:100%;
    padding:10px;

}
.section2{
    width:100%;
}
.card{
   width:70%;
   display: block;
   margin:auto;
  
}
.container2{
    padding:0px;
    width:90%;
}


.container2 input[type="email"]{
    padding:15px ;
    width: 80%;
    font-size: 25px;
    border-radius: 10px;
}

.container2 input[type="password"]{
    padding:15px ;
    width: 80%;
    font-size: 25px;
    border-radius: 10px;
}
.btnSameLine{
    display: block;
}

.button_4{
    padding:15px ;
    display: block;
    margin: auto;
    width: 90%;
    font-size: 25px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.button_5{
    padding:15px ;
    display: block;
    margin: auto;
    width: 90%;
    font-size: 25px;
    border-radius: 10px;
}
.searchbar{
    border:2px gray solid;
    width: 85%;
    text-align:center;
    border-radius: 10px;
    outline: none;
    padding:10px;
    font-size: 20px;
    margin:auto;
    margin-bottom: 20px;
}
.button_1a{
    
     height:38px;
     background: transparent;
     border:1px #00E4AD solid;
     border-radius: 15px;
    margin-top: 5px;
    margin-left: 5px;
     padding-left:20px;
     padding-right:20px;
     color:black;
     cursor: pointer;
 
 }
 .button_1a:hover{
     transition: all 0.90s;
     background-color: green;
     color:white;
     margin-top: 5px;
 
 }
}

